body {
    margin: -5px 50px; /* top-buttom left-right*/
}

div {
    margin-top: 5px;
}

/* Arrange buttons */
.btn-matrix {
    flex-wrap: wrap; /* allow buttons to jump to another row */
}
.btn-matrix > .btn {
    width: 50%; /* force buttons to have the same width regardless of content */
}

.row > canvas {
    height:100%;
}
.row > * {
    padding: 0px;
}


#canvas {
    display: block;
}

.color-input {
    border-right: 40px solid #ffffff;
    cursor: default;
}
.palette {
    margin-top: 0px;
    background: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 1px;
    display: none;
    padding: 1px;
    position: absolute;
    z-index: 1000;
}
.color-option {
    width: 18px;
    height: 18px;
    margin: 3px;
    cursor:pointer;
    float: left;
}
