body {
    max-height: 100vh;
    margin: -5px 50px; /* top-bottom left-right*/
}


.menu > div {
    margin: 5px 0;
}

/* Arrange buttons */
.btn-matrix {
    flex-wrap: wrap; /* allow buttons to jump to another row */
}

.btn-matrix > .btn {
    width: 50%; /* force buttons to have the same width regardless of content */
}

.menu {
    margin-top: 5%;
}

#properties {
    margin: 5% 0;
    max-height: 80vh;
}

.row > canvas {
    height: 90%;
}

.row > * {
    padding: 5px;
}


#canvas {
    display: block;
}

.color-input {
    border-right: 40px solid #ffffff;
    cursor: default;
}

.palette {
    margin-top: 0;
    background: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 1px;
    display: none;
    padding: 1px;
    position: absolute;
    z-index: 1000;
}

.color-option {
    width: 18px;
    height: 18px;
    margin: 3px;
    cursor: pointer;
    float: left;
}

* {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}


.btn i {
    display: block;
    align-items: center;
    font-size: 24px;
    height: 1em;
}
